In [24]:
import pandas as pd

data = pd.read_csv('data/boston.csv')
data.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  LSTAT    506 non-null    float64
 12  MEDV     506 non-null    float64
dtypes: float64(10), int64(3)
memory usage: 51.5 KB

In [26]:
data.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,37.970000,50.000000

In [27]:
sum(data.duplicated()) # 检查重复值

0

In [28]:
# 处理异常值
col_name = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'LSTAT', 'MEDV']
for i in range(len(col_name) - 1):
    col = data[col_name[i]]
    low = col.mean() - 3 * col.std()
    up = col.mean() + 3 * col.std()

    data.loc[data[col_name[i]] < low, col_name[i]] = low
    data.loc[data[col_name[i]] > up, col_name[i]] = up

In [29]:
data.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.199471,11.113901,11.136779,0.057491,0.554695,6.284575,68.574901,3.786826,9.549407,408.237154,18.455534,12.637018,22.532806
std,6.045250,22.491900,6.860353,0.211108,0.115878,0.689163,28.148861,2.078363,8.707259,168.537116,2.164946,7.089260,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,4.176783,2.900000,1.129600,1.000000,187.000000,12.600000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,16.955000,25.000000
max,29.418159,81.330995,27.740000,0.831152,0.871000,8.392486,100.000000,10.112173,24.000000,711.000000,22.000000,34.076248,50.000000

In [30]:
X = data.iloc[:, :len(col_name)-1]
y = data.iloc[:, len(col_name)-1:]
X.shape, y.shape

((506, 12), (506, 1))

In [31]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X = scaler.fit_transform(X)

In [32]:
pd.DataFrame(X).describe()

,0,1,2,3,4,5,6,7,8,9,10,11
count,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02
mean,-3.025687e-16,1.101447e-16,2.804081e-16,-2.990581e-16,-8.071058e-16,3.938439e-17,-2.650493e-16,-3.444763e-17,1.514379e-15,-9.934960e-16,4.493551e-16,1.399846e-16
std,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00
min,-5.287310e-01,-4.946180e-01,-1.557842e+00,-2.725986e-01,-1.465882e+00,-3.061508e+00,-2.335437e+00,-1.279784e+00,-9.828429e-01,-1.313990e+00,-2.707379e+00,-1.540050e+00
25%,-5.161922e-01,-4.946180e-01,-8.676906e-01,-2.725986e-01,-9.130288e-01,-5.796453e-01,-8.374480e-01,-8.123319e-01,-6.379618e-01,-7.675760e-01,-4.880391e-01,-8.029958e-01
50%,-4.873038e-01,-4.946180e-01,-2.110985e-01,-2.725986e-01,-1.442174e-01,-1.104971e-01,3.173816e-01,-2.790415e-01,-5.230014e-01,-4.646726e-01,2.748590e-01,-1.803125e-01
75%,7.908428e-02,6.168757e-02,1.015999e+00,-2.725986e-01,5.986790e-01,4.922785e-01,9.067981e-01,6.750439e-01,1.661245e+00,1.530926e+00,8.065758e-01,6.096906e-01
max,4.341365e+00,3.124973e+00,2.422565e+00,3.668398e+00,2.732346e+00,3.061680e+00,1.117494e+00,3.046440e+00,1.661245e+00,1.798194e+00,1.638828e+00,3.027177e+00

In [33]:
pd.DataFrame(X).to_csv('data/boston_preprocessing_X.csv', index=False, header=col_name[:len(col_name)-1])
pd.DataFrame(y).to_csv('data/boston_preprocessing_y.csv', index=False, header=col_name[len(col_name)-1:])